whatsapp-msgstore-viewer/
whatsapp-msgstore-web-viewer/
whatsapp-backup-chat-viewer/
*.db
*.vcf
**/__pycache__/
*.sqlite
*.vcf

*.pyc
.ipynb_checkpoints
.env

.venv/
venv

TODO.*
debug_*
wa_report_output/
wa_analyzer_config.json
